/* Principal */
:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --border: 1px solid #bfbcbc;
    --colorPrincipal: #1B396A;
    --colorSecundario: #0947ab;
    --colorError: #f3d3d3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-size: 1.4rem;
    font-family: var(--fuentePrincipal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
}

.notavif.notwebp body {

    background-image: url('../img//jpg/fondologin.jpg');
}

.webp body {
    background-image: url('../img/webp/fondologin.webp');
}

.avif body {
    background-image: url('../img/avif/fondologin.avif');
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Registro */

.error-login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 90rem;
    width: 90%;
    padding: 1rem;
    background-color: var(--colorError);
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: #b0594c;
}

main {
    max-width: 90rem;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        height: 45rem;
        flex-direction: row;
    }
}


/* Imagen */

.contenedor-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.notavif.notwebp .contenedor-img {

    background-image: url('../img//jpg/fondoform.jpg');
}

.webp .contenedor-img {
    background-image: url('../img/webp/fondoform.webp');
}

.avif .contenedor-img {
    background-image: url('../img/avif/fondoform.avif');
}

.titulo-img {
    width: 100%;
    padding: 3rem 3rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
    text-align: start;
}

@media (min-width: 768px) {
    .titulo-img {
        font-size: 2.8rem;
    }
}

.titulo-img::after {
    content: '';
    display: block;
    border: 1px solid white;
    width: 50%;
}

img {
    height: auto;
    margin: 5rem 0;
    max-width: 90%;
    width: 100%;
    display: block;
    object-fit: contain;
}


/* Contenido */
.contenedor-contenido {
    flex: 1;
    background-color: white;
    padding: 1rem;
}

.titulo-contenido {
    font-size: 1.8rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .titulo-contenido {
        font-size: 2.4rem;

    }
}

.contenido-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contenido-inputs input {
    border: var(--border);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 400;
    width: 100%;
    outline-color: var(--colorPrincipal);
}

.contendor-contraseña {
    position: relative;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.contendor-inicio {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.iniciar {
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    display: block;
    background-color: var(--colorPrincipal);
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

.iniciar:hover {
    background-color: var(--colorSecundario);
}

.registro {
    text-decoration: none;
    color: black;
    transition: color .4s ease-in-out;
}

.registro:hover {
    color: var(--colorSecundario);
}