header {
    position: relative;
    width: 100%;
    height: 100px;
}


.contenedor-header {
    position: relative;
    width: 100%;
    height: 100px;
}

.contenedor-header img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.contenedor-text {
    width: 250px;
    height: 90px;
    position: absolute;
    top: 80%;
    right: 0;
}

.contenido-text{
    width: 100%;
    height: inherit;
    position: relative;
}

.contenido-text p:nth-child(1) {
    position: absolute;
    font-weight: 900;
    font-size: 10px;
    margin: 0;
    top: 0;
    right: 0;
}

.contenido-text p:nth-child(2) {
    position: absolute;
    font-size: 9px;
    margin: 0;
    top: 10;
    right: 0;
}


.contenido-text p:nth-child(3) {
    position: absolute;
    font-size: 14px;
    margin: 0;
    top: 80%;
    right: 0;
}


/* seccion titulo */

.seccion-titulo{
    position: relative;
    width: 100%;
    height: 200px;
}

.seccion-titulo p{
    position: absolute;
    font-size: 13px;
    font-weight: 900;
    width: 100%;
    top:45%;
    left: 17%;
    transform: translateY(-50%);   
}

/* seccion presente */

.seccion-presente{
    position: absolute;
    width: 100%;
    height: auto;
    top: 170;
}

.seccion-presente p {
    font-size: 12px;
    font-weight: bold;
}

/* main */

main{
    margin-top: 50px;
}

